# app/views/votes/show.html.erb

<div class="row col-md-8 col-md-offset-2">
  <h1><%= @chatroom.topic %></h1>
  <h1>remember to remove this html file later, debugging purposes only</h1>

<div class="panel panel-default">
  <%= @chatroom.value %>
  <%= @chatroom.user_id %>
</div>

</div>